.body {
  padding: 37px 68px 30px 72px;
  background-color: $white;
  margin-top: 48px;

  @include mediaExtraScreenMin {
    padding: 37px 11px 30px 12px;
    margin-top: 40px;
  }

  @include mediaTabletsLaptopsMin {
    padding: 37px 0 30px 0;
    margin-top: 46px;
  }

  @include mediaTabletsMin {
    margin-top: 33px;
  }

  &__content {
    display: flex;
  }

  &__title {
    font-size: 28px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: $black;
    transform: translate(-2px);
    font-family: PT_SANS_CAPTION, sans-serif;
    margin-bottom: 40px;

    @include mediaExtraScreenMin {
      margin-bottom: 45px;
    }

    @include mediaTabletsLaptopsMin {
      margin-bottom: 42px;
      transform: translate(14px);
      width: calc(100% - 14px);
    }

    @include mediaTabletsMin {
      margin-bottom: 22px;
      font-size: 20px;
      transform: translate(12px);
    }
  }

  .arrows {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .arrow {
      height: 13px;
      width: 13px;
      cursor: pointer;
      border-left: 2px solid $alto;
      border-bottom: 2px solid $alto;

      &__left {
        margin-right: 14px;
        transform: rotate(45deg);
      }

      &__right {
        margin-right: 1px;
        transform: rotate(-135deg);
      }
    }

    @include mediaExtraScreenMin {
      display: none;
    }
  }

  .statistics {
    display: flex;
    justify-content: space-between;
    max-width: 169px;
    margin-top: 10px;
    width: 100%;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;

      &-svg {
        width: 16px;
        cursor: pointer;
        height: 14px;
        margin-right: 5px;
      }

      &-text {
        font-size: 10px;
        font-family: "PT Sans Caption", Arial, sans-serif;
        line-height: 16px;
      }
    }

    @include mediaExtraScreenMin {
      margin-top: 0;
    }

    @include mediaTabletsLaptopsMin {
      margin-top: 9px;
    }

    @include mediaTabletsMin {
      margin-top: 12px;
    }
  }

@import "_left__side";
@import "_right__side";
}
