.body {
  padding: 37px 68px 30px 72px;
  background-color: $white;
  margin-top: 48px;

  @media (max-width: 1439px) {
    padding: 37px 11px 30px 12px;
    margin-top: 40px;
  }

  @media (max-width: 1023px) {
    padding: 37px 0 30px 0;
    margin-top: 46px;
  }

  @media (max-width: 767px) {
    margin-top: 33px;
  }

  &__content {
    display: flex;
  }

  &__title {
    font-size: 28px;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: $black;
    transform: translate(-2px);
    font-family: PT_SANS_CAPTION, sans-serif;
    margin-bottom: 40px;

    @media (max-width: 1439px) {
      margin-bottom: 45px;
    }

    @media (max-width: 1023px) {
      margin-bottom: 42px;
      transform: translate(14px);
      width: calc(100% - 14px);
    }

    @media (max-width: 767px) {
      margin-bottom: 22px;
      font-size: 20px;
      transform: translate(12px);
    }
  }

  .arrows {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .arrow {
      height: 13px;
      width: 13px;
      cursor: pointer;
      border-left: 2px solid $alto;
      border-bottom: 2px solid $alto;

      &__left {
        margin-right: 14px;
        transform: rotate(45deg);
      }

      &__right {
        margin-right: 1px;
        transform: rotate(-135deg);
      }
    }

    @media (max-width: 1439px) {
      display: none;
    }
  }

  @include statistics(10px);
  .footer__block {
    display: flex;
    width: calc(100% - 40px);
    position: absolute;
    bottom: 30px;
    justify-content: space-between;
    @include footer(0px);

    @media (max-width: 1439px) {
      bottom: 32px;
    }

    @media (max-width: 1023px) {
      bottom: 15px;
      left: 31px;
      display: block;
    }

    @media (max-width: 767px) {
      bottom: 24px;
      left: 14px;
    }
  }

@import "_left__side";
@import "_right__side";
}
