.hardware {
  background: linear-gradient(360deg, #223036 0%, #223036 100%);
  height: 173px;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 44px 68px 40px 47px;

  &__search {
    display: none;
  }

  &__burger {
    display: none;

    @include m1023 {
      display: block;
      top: 16px;
      left: 16px;
      fill: $white;
      position: absolute;
      width: 21px;
      height: 19px;
    }
  }

  &__logo-mobile {
    display: none;

    @include m767 {
      display: block;
      width: 35px;
      height: 34px;
      position: absolute;
      left: 54px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__logo {
    height: 80px;
    width: 370px;
    position: relative;
    margin: 3px 0 4px 0;

    &_title {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      max-width: 326px;
      height: 40px;
      width: 100%;

      @include between321And768 {
        top: 52%;
      }
    }

    @include m1440 {
      margin: 5px 0 4px 0;
    }

    @include m1439 {
      margin: 12px 23px 4px 0;
    }

    @include m1023 {
      margin: 0;
    }

    @include m767 {
      display: none;

      & .vector {
        display: none;
      }
    }
  }

  @include vector(0px, 1);

  @include m768 {
    .vector {
      &:nth-child(1) {
        left: 0;
        top: 2px;
      }

      &:nth-child(2) {
        left: 0;
        bottom: -2px;
        transform: rotate(-90deg);
      }

      &:nth-child(3) {
        right: 0;
        top: 2px;
        transform: rotate(90deg);
      }

      &:nth-child(4) {
        right: 0;
        bottom: -2px;
        transform: rotate(-180deg);
      }
    }
  }

  &__text {
    max-width: 658px;
    font-size: 14px;
    line-height: 22px;
    font-family: "PT Sans Caption", Arial, sans-serif;

    @include m1439 {
      max-width: 550px;
    }

    @include m1023 {
      display: none;
    }
  }

  &__enter {
    font-weight: bold;
    font-size: 15px;
    line-height: 10px;
    top: 13px;
    right: 21px;
    position: absolute;

    @include m1439 {
      top: 16px;
      right: 15px;
    }

    @include m767 {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @include m1439 {
    padding: 37px 49px 40px 31px;
  }

  @include m1023 {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include m767 {
    height: 48px;

    &__search {
      display: block;
      fill: $white;
      width: 14px;
      height: 14px;
      top: 50%;
      transform: translateY(-50%);
      right: 60px;
      position: absolute;
    }
  }
}
