.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  height: 48px;
  position: absolute;
  top: 174px;
  width: 100%;
  display: flex;
  background-color: $white;
  align-items: center;

  &__burger {
    height: 15px;
    width: 16px;
    fill: $mine-shaft;
    margin: 0 23px 0 47px;

    @include mediaExtraScreenMax {
      margin: 0 26px 0 47px;
    }

    @include mediaExtraScreenMin {
      margin: 0 14px 0 38px;
    }

    @include mediaTabletsLaptopsMin {
      display: none;
    }
  }

  &__navigation {
    max-width: 476px;
    width: 100%;
    display: flex;

    &_item {
      font-size: 16px;
      line-height: 22px;
      color: $black;
      font-family: BRUTAL_TYPE, sans-serif;
      margin-right: 27px;
      cursor: pointer;
      letter-spacing: -0.02em;
      padding: 4px 13px 4px 14px;

      &-search {
        display: none;

        @include mediaTabletsLaptopsMin {
          display: block;
          margin: 0 0 0 10px;
        }

        @include mediaTabletsMin {
          display: none;
        }
      }

      &:hover {
        background: $yellow-orange;
        border-radius: 2px;
        color: $white;

        @include mediaTabletsLaptopsMax {
          background-color: $white;
          color: $black;
        }
      }

      @include mediaTabletsLaptopsMin {
        margin-right: 56px;
      }

      @include mediaTabletsMin {
        margin: 0;
        padding: 0;
      }

      @include mediaMobile {
        font-size: 14px;
      }
    }

    @include mediaTabletsLaptopsMin {
      max-width: 100%;
      justify-content: space-between;
      margin-left: 7px;
    }

    @include mediaTabletsMin {
      width: 100%;
      overflow-x: auto;
      max-width: 100%;
      justify-content: space-around;
    }

    @include mediaMobile {
      max-width: 307px;
      padding: 3px 2px 0 0;
      margin-left: 7px;
    }
  }

  &__search {
    height: 15px;
    width: 14px;
    fill: $mine-shaft;
    margin: 0 12px 0 auto;

    @include mediaExtraScreenMin {
      margin: 0 22px 0 auto;
    }

    @include mediaTabletsLaptopsMin {
      display: none;
    }
  }

  @include mediaTabletsMin {
    top: 48px;
  }
}
