.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  height: 48px;
  position: absolute;
  top: 174px;
  width: 100%;
  display: flex;
  background-color: #fff;
  align-items: center;

  &__burger {
    height: 15px;
    width: 16px;
    fill: #333;
    margin: 0 23px 0 47px;

    @media (max-width: 1440px) {
      margin: 0 26px 0 47px;
    }

    @media (max-width: 1439px) {
      margin: 0 14px 0 38px;
    }

    @media (max-width: 1023px) {
      display: none;
    }
  }

  &__navigation {
    max-width: 476px;
    width: 100%;
    display: flex;

    &-item {
      font-size: 16px;
      line-height: 22px;
      color: #000;
      font-family: BRUTAL_TYPE, sans-serif;
      margin-right: 27px;
      cursor: pointer;
      letter-spacing: -0.02em;
      padding: 4px 13px 4px 14px;

      &__search {
        display: none;

        @media (max-width: 1023px) {
          display: block;
          margin: 0 0 0 10px;
        }

        @media (max-width: 767px) {
          display: none;
        }
      }

      &:hover {
        background: #FAAF3F;
        border-radius: 2px;
        color: #fff;

        @media (max-width: 1024px) {
          background-color: #fff;
          color: #000;
        }
      }

      @media (max-width: 1023px) {
        margin-right: 56px;
      }

      @media (max-width: 767px) {
        margin: 0;
        padding: 0;
      }

      @media (max-width: 320px) {
        font-size: 14px;
      }
    }

    @media (max-width: 1023px) {
      margin-left: 7px;
    }

    @media (max-width: 767px) {
      width: 100%;
      overflow-x: auto;
      max-width: 100%;
      justify-content: space-around;
    }

    @media (max-width: 320px) {
      max-width: 307px;
      padding: 3px 2px 0 0;
      margin-left: 7px;
    }
  }

  &__search {
    height: 15px;
    width: 14px;
    fill: #333;
    margin: 0 12px 0 auto;

    @media (max-width: 1439px) {
      margin: 0 22px 0 auto;
    }

    @media (max-width: 1023px) {
      display: none;
    }
  }

  @media (max-width: 767px) {
    top: 48px;
  }
}
