&__content-left__side {
  max-width: 789px;
  width: 100%;
  margin-right: 20px;

  @media (max-width: 1439px) {
    max-width: 730px;
  }

  @media (max-width: 1023px) {
    max-width: 100%;
  }

  &-notepad {
    height: 492px;
    position: relative;
    padding: 150px 20px 30px 20px;
    font-size: 10px;
    background: url('./../assets/notepad.png');

    .statistics {
      margin-top: 4px;

      @media (max-width: 768px) {
        margin-top: 9px;
      }
    }

    @include vector(8px, 0);
    @include cardTitleText(20px, 24px, -0.029em, 558px, block, 558px);

    @media (max-width: 1439px) {
      background: url("./../assets/notepad1024.png");

      .card__title {
        margin-bottom: 22px;

        @media (max-width: 320px) {
          letter-spacing: -0.025em;
        }
      }
    }

    @media (max-width: 1023px) {
      height: 386px;
      padding: 71px 20px 30px 20px;
      background: url("./../assets/notepad768.png");
    }

    @media (max-width: 767px) {
      padding: 115px 20px 30px 14px;
      background: url("./../assets/notepad320.png") no-repeat;
      background-size: cover;
    }
  }

  & .do {
    @include doButton();

    @media (max-width: 1439px) {
      margin-bottom: 39px;
    }

    @media (max-width: 1023px) {
      margin-bottom: 26px;
    }

    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }


  & .iron__block {
    width: 100%;
    margin-top: 25px;
    display: flex;
    margin-bottom: 28px;
    justify-content: space-between;

    &__work {
      position: relative;
      max-width: 517px;
      width: 100%;
      padding: 85px 26px 30px 20px;
      height: 492px;
      background: url('./../assets/work.png');

      @include vector(8px, 0);
      @include cardTitleText(40px, 24px, -0.025em, 100%, none, 520px);

      .card__text {
        max-width: 430px;
      }

      &:hover .vector {
        opacity: 1;

        @media (max-width: 1024px) {
          opacity: 0;
        }
      }

      @media (max-width: 1439px) {
        max-width: 354px;
        background: url('./../assets/work1024.png');
      }

      @media (max-width: 1023px) {
        max-width: 100%;
        padding: 71px 26px 30px 20px;
        background: url('./../assets/work768.png');
        margin-bottom: 15px;
        height: 386px;
      }

      @media (max-width: 767px) {
        padding: 115px 0 30px 13px;
        background: url("./../assets/work320.png") no-repeat;
        background-size: cover;

        & .do {
          max-width: 105px;
        }

        .card__title {
          font-size: 19.3px;
          letter-spacing: normal;
        }
      }
    }

    &__down {
      width: 100%;
      position: absolute;
      bottom: 30px;
      left: 17px;
      @include footer(10px);

      @media (max-width: 1440px) {
        bottom: 30px;
        left: 18px;
      }

      @media (max-width: 1439px) {
        bottom: 31px;
        left: 19px;
      }

      @media (max-width: 1023px) {
        bottom: 14px;
        left: 31px;
        width: calc(100% - 31px);
      }

      @media (max-width: 767px) {
        bottom: 24px;
        left: 13px;
      }
    }

    &__claster {
      position: relative;
      height: 492px;
      padding: 85px 20px 30px 20px;
      max-width: 247px;
      width: 100%;
      background: url('./../assets/claster.png');

      @include vector(8px, 0);
      @include cardTitleText(20px, 24px, -0.03em, 217px, none, 520px);


      &:hover .vector {
        opacity: 1;

        @media (max-width: 1024px) {
          opacity: 0;
        }
      }

      @media (max-width: 1439px) {
        max-width: 354px;
        background: url('./../assets/claster1024.png');
      }

      @media (max-width: 1023px) {
        max-width: 100%;
        height: 386px;
        padding: 71px 26px 30px 20px;
        background: url('./../assets/claster768.png');

        .card__title {
          font-size: 24px;
          letter-spacing: -0.025em;
        }
      }

      @media (max-width: 767px) {
        padding: 115px 20px 30px 13px;
        margin-bottom: 29px;
        background: url("./../assets/claster320.png") no-repeat;
        background-size: cover;

        & .do {
          max-width: 105px;
        }

        .card__title {
          font-size: 19.3px;
          letter-spacing: normal;
        }
      }
    }

    @media (max-width: 1439px) {
      margin-bottom: 26px;
    }

    @media (max-width: 1023px) {
      margin-top: 14px;
      display: block;
    }
  }

  .after__news {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 26px;
    transform: translateX(-2px);

    &-text {
      color: $mine-shaft;
    }

    @media (max-width: 1439px) {
      margin-left: -1px;
      margin-bottom: 25px;
    }

    @media (max-width: 1023px) {
      padding: 1px 14px 0 18px;
      margin-bottom: 29px;
    }

    @media (max-width: 767px) {
      padding: 0 14px 0 17px;
      margin: 0 0 29px 2px;
    }
  }

  .slider__block {
    &__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      padding-right: 3px;

      &-nav, &-nav__mobile {
        color: $mine-shaft;
        flex-basis: 80%;
        display: flex;
        align-items: center;

        &__item {
          font-weight: bold;
          font-size: 17px;
          cursor: pointer;
          line-height: 24px;
          margin-left: 47px;

          &::after {
            opacity: 0;
            background: $sea;
            height: 2px;
            width: 100%;
            content: '';
            display: block;
            margin-top: 5px;
            transition: opacity 0.2s linear;

            @media (max-width: 1023px) {
              padding-top: 4px;
              margin-top: 7px;
            }

            @media (max-width: 767px) {
              margin-top: 2px;
              padding-top: 1px;
            }
          }

          &:first-child::after {
            opacity: 1;
          }

          &:nth-child(2) {
            margin-left: 56px;
          }

          @media (max-width: 1439px) {
            margin-left: 47px;
          }

          @media (max-width: 1023px) {
            margin-left: 49px;
          }
        }

        &__item:first-child {
          margin-left: 0;
        }

        @media (max-width: 767px) {
          flex-basis: 100%;
        }

        @media (max-width: 767px) {
          &__item:not(:first-child) {
            margin-left: 31px;
          }
        }
      }

      &-nav__mobile {
        display: none;

        @media (max-width: 767px) {
          display: flex;
        }
      }

      @media (max-width: 1023px) {
        margin-bottom: 27px;
      }

      @media (max-width: 767px) {
        &-nav {
          display: none;
        }
        margin-bottom: 21px;
      }
    }

    &__list {
      display: flex;
      margin-bottom: 35px;
      max-width: 800px;
      overflow: hidden;

      & .slider__carusel {
        display: grid;
        grid-gap: 22px;
        grid-template-columns: repeat(3, 1fr);
        font-family: BRUTAL_TYPE_BOLD, sans-serif;

        &-item {
          @include vector(8px, 0);
          padding: 14px 20px 20px 19px;
          height: 177px;
          position: relative;
          max-width: 250px;
          width: 100%;
          background: url("./../assets/covid.png");

          &-biology {
            background: url("./../assets/biology.png");
          }

          &-team {
            background: url("./../assets/team.png");
          }

          & .list__item__text {
            font-weight: bold;
            font-family: BRUTAL_TYPE, sans-serif;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: -0.02em;
            text-transform: capitalize;
            color: $white;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.33);

            @media (max-width: 767px) {
              letter-spacing: 0.02em;
              font-size: 14px;
            }
          }

          & .list__item__footer {
            position: absolute;
            bottom: 21px;
            left: 16px;
            width: 100%;

            @media (max-width: 1439px) {
              left: 20px;
            }

            @media (max-width: 320px) {
              left: 18px;
              bottom: 19px;
            }
          }

          @media (max-width: 1439px) {
            width: 250px;
            padding: 14px 20px 20px 19px;
          }

          @media (max-width: 1023px) {
            padding: 14px 20px 20px 21px;
          }

          @media (max-width: 767px) {
            padding: 15px 0 20px 19px;
          }
        }

        @media (max-width: 1439px) {
          grid-gap: 19px;
        }

        @media (max-width: 320px) {
          grid-gap: 16px;
        }
      }

      @media (max-width: 1439px) {
        max-width: 730px;
        margin-bottom: 34px;
      }

      @media (max-width: 1023px) {
        max-width: 100%;
      }

      @media (max-width: 767px) {
        margin-bottom: 0;
      }
    }

    @media (max-width: 1023px) {
      padding-left: 15px;
    }
  }

  .all__series {
    &__header {
      display: flex;
      color: $black;
      justify-content: space-between;

      @media (max-width: 767px) {
        display: none;
      }

      &-title {
        font-size: 28px;
        line-height: 22px;
        font-family: "PT Sans Caption", sans-serif;
        letter-spacing: -0.04em;

        @media (max-width: 768px) and (min-width: 329px) {
          font-size: 29px;
        }
      }
    }

    &__content {
      margin-top: 36px;
      width: calc(100% + 10px);

      .all__series__carousel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 10px 0 10px 10px;
        overflow: hidden;
        margin: -10px 0 -10px -10px;

        &-item {
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          width: 380px;
          margin-right: 29px;
          padding: 25px 25px 30px 18px;

          & .content__title {
            font-family: BRUTAL_TYPE_BOLD, sans-serif;
            font-size: 20px;
            line-height: 24px;
            max-width: 250px;
            color: $mine-shaft;

            @media (max-width: 1439px) {
              margin-bottom: 16px;
            }

            @media (max-width: 1023px) {
              margin-bottom: 15px;
            }

            @media (max-width: 767px) {
              margin-bottom: 0;
              letter-spacing: -0.1px;
            }
          }
          @include rightWindowSeries(17px, 20px, none);
          @include seriesList(100%, 0 0 22px 17px, 16px 0 18px 0, 0 0 23px 19px);

          .series__list {
            margin: 15px 0 22px 0;

            &-item {
              padding: 0 0 23px 20px;

              @media (max-width: 1440px) {
                padding: 0 0 22px 18px;
              }

              @media (max-width: 1439px) {
                padding: 0 0 23px 19px;
              }

              @media (max-width: 767px) {
                padding: 0 0 14px 14px;
                max-width: 208px;
              }
            }

            @media (max-width: 1440px) {
              margin: 15px 0 25px 0;
            }

            @media (max-width: 1439px) {
              margin: 15px 0 22px 2px;
            }

            @media (max-width: 1023px) {
              margin: 15px 0 32px 0;
            }
          }

          &__footer {
            max-width: 197px;
            margin: 0 auto;

            .read__article__btn {
              @include mainBtn();
            }

            @media (max-width: 1023px) {
              max-width: 292px;
            }
          }

          @media (max-width: 1440px) {
            padding: 22px 25px 30px 20px;
          }

          @media (max-width: 1024px) and (min-width: 1024px) {
            padding: 21px 17px 30px 19px;
            width: 350px;
          }

          @media (max-width: 1023px) {
            width: 325px;
            margin-right: 20px;
            padding: 19px 18px 21px 20px;
          }

          @media (max-width: 767px) {
            padding: 18px 23px 30px 21px;
            width: 289px;
          }
        }

        &-item:last-child {
          margin-right: 0;
        }
      }

      @media (max-width: 1440px) {
        margin-top: 41px;
      }

      @media (max-width: 1439px) {
        margin-top: 42px;
      }

      @media (max-width: 1023px) {
        margin-top: 50px;
        width: 100%;
      }

      @media (max-width: 767px) {
        margin-top: 28px;
      }
    }

    @media (max-width: 1023px) {
      padding-left: 14px;
    }
  }

  @media (max-width: 1023px) {
    margin-right: 0;
  }
}
