&__content_left-side {
  max-width: 789px;
  width: 100%;
  margin-right: 20px;
  @import "_articles__today";
  @import "_articles__best";
  @import "_all__series";

  @include m1439 {
    max-width: 730px;
  }

  @include m1023 {
    max-width: 100%;
    margin-right: 0;
  }
}
