@mixin mediaMobile {
  @media (max-width: $media-mobile) {
    @content;
  }
}

@mixin mediaTabletsMin {
  @media (max-width: $media-tablets-min) {
    @content;
  }
}

@mixin mediaTabletsLaptopsMin {
  @media (max-width: $media-tablets-laptops-min) {
    @content;
  }
}

@mixin mediaTabletsLaptopsMax {
  @media (max-width: $media-tablets-laptops-max) {
    @content;
  }
}

@mixin mediaExtraScreenMax {
  @media (max-width: $media-extra-screen-max) {
    @content;
  }
}


@mixin vector($pixel, $opacity) {
  .vector {
    width: 22px;
    height: 20px;
    position: absolute;
    opacity: $opacity;
    transition: opacity 0.2s linear;

    &:nth-child(1) {
      left: 0 + $pixel;
      top: 0 + $pixel;
    }

    &:nth-child(2) {
      left: 0 + $pixel;
      bottom: 0 + $pixel;
      transform: rotate(-90deg);
    }

    &:nth-child(3) {
      right: 0 + $pixel;
      top: 0 + $pixel;
      transform: rotate(90deg);
    }

    &:nth-child(4) {
      right: 0 + $pixel;
      bottom: 0 + $pixel;
      transform: rotate(-180deg);
    }
  }

  &:hover .vector {
    opacity: 1;

    @include mediaTabletsLaptopsMax {
      opacity: 0;
    }
  }
}

@mixin footer($marginBottom1024) {
  &-info {
    width: 100%;
    max-width: 294px;
  }

  &-author {
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    max-width: 294px;

    @include mediaTabletsLaptopsMax {
      margin-bottom: $marginBottom1024;
    }

    @include mediaMobile {
      margin-bottom: 13px;
    }
  }

  &-time {
    font-weight: normal;
    font-size: 10px;
  }
}

@mixin rightWindowSeries($display) {
  .article-series-header {
    display: $display;
    margin-bottom: 13px;

    @include mediaExtraScreenMax {
      margin-bottom: 15px;
    }

    @include mediaTabletsMin {
      display: flex;
      margin-bottom: 15px;
      width: calc(100% + 3px);
    }

    &-all {
      width: 100%;
      text-align: end;
      color: $loch;
      margin-left: auto;
      font-size: 14px;
      line-height: 24px;

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;

          @include mediaTabletsLaptopsMax {
            text-decoration: none;
          }
        }
      }
    }
  }
}

@mixin seriesList($maxWidth, $padding, $margin1024, $padding1439) {
  .series-content__list {
    width: 100%;
    padding-top: 10px;
    border-left: 1px solid $gray;
    position: relative;
    margin: 16px 0 26px 0;

    @include mediaExtraScreenMax {
      margin: 16px 0 27px 0;
    }

    @include mediaTabletsLaptopsMax {
      margin: $margin1024;
    }

    @include mediaTabletsLaptopsMin {
      margin: 15px 0 31px 1px;
    }

    @include mediaTabletsMin {
      margin: 14px 0 37px 0;
      padding-top: 11px;
    }

    &::before {
      height: 9px;
      width: 1px;
      position: absolute;
      top: -2px;
      left: -1px;
      content: '';
      display: block;
      transform: matrix(1, 0, 0, -1, 0, 0);
      background: linear-gradient(180.15deg, rgba(255, 255, 255, 0) 0.23%, $white 126.37%), linear-gradient(180.15deg, rgba(255, 255, 255, 0) 0.23%, $white 126.37%);
    }

    &::after {
      height: 52px;
      width: 1px;
      position: absolute;
      bottom: -10px;
      left: -1px;
      content: '';
      display: block;
      background: linear-gradient(180.86deg, rgba(255, 255, 255, 0) 0.23%, $white 74.8%);
    }

    &_item {
      max-width: $maxWidth;
      width: 100%;
      font-size: 15px;
      padding: $padding;
      line-height: 21px;
      position: relative;

      &:hover {
        a {
          color: $yellow-orange;

          @include mediaTabletsLaptopsMax {
            color: $mine-shaft;
          }
        }

        &::after {
          background: $yellow-orange;;

          @include mediaTabletsLaptopsMax {
            background: $gray;
          }
        }
      }

      &:after {
        display: block;
        content: '';
        height: 10px;
        left: -5.3px;
        top: 6px;
        position: absolute;
        width: 10px;
        background: $gray;
        border-radius: 50%;
      }

      a {
        color: $mine-shaft;
        text-decoration: none;
      }

      @include mediaTabletsLaptopsMax {
        padding: $padding1439;
      }
    }

    &_item:last-child {
      padding-bottom: 0;
    }
  }
}
