@mixin statistics($margin) {
  .statistics {
    display: flex;
    justify-content: space-between;
    max-width: 169px;
    margin-top: $margin;
    width: 100%;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;

      &-svg {
        width: 16px;
        cursor: pointer;
        height: 14px;
        margin-right: 5px;
      }

      &-text {
        font-size: 10px;
        font-family: "PT Sans Caption", Arial, sans-serif;
        line-height: 16px;
      }
    }

    @media (max-width: 1439px) {
      margin-top: 0;
    }

    @media (max-width: 1023px) {
      margin-top: 9px;
    }

    @media (max-width: 767px) {
      margin-top: 12px;
    }
  }
}

@mixin vector($pixel, $opacity) {
  .vector {
    width: 22px;
    height: 20px;
    position: absolute;
    opacity: $opacity;
    transition: opacity 0.2s linear;

    &:nth-child(1) {
      left: 0 + $pixel;
      top: 0 + $pixel;
    }

    &:nth-child(2) {
      left: 0 + $pixel;
      bottom: 0 + $pixel;
      transform: rotate(-90deg);
    }

    &:nth-child(3) {
      right: 0 + $pixel;
      top: 0 + $pixel;
      transform: rotate(90deg);
    }

    &:nth-child(4) {
      right: 0 + $pixel;
      bottom: 0 + $pixel;
      transform: rotate(-180deg);
    }
  }

  &:hover .vector {
    opacity: 1;

    @media (max-width: 1024px) {
      opacity: 0;
    }
  }
}

@mixin footer($marginBottom1024) {
  .footer {
    width: 100%;
    max-width: 294px;

    &-author {
      font-weight: bold;
      font-size: 15px;
      line-height: 24px;
      max-width: 294px;

      @media (max-width: 1439px) {
        margin-bottom: $marginBottom1024;
      }

      @media (max-width: 320px) {
        margin-bottom: 13px;
      }

      &__time {
        font-weight: normal;
        font-size: 10px;
      }
    }
  }
}

@mixin doButton() {
  border: none;
  height: 24px;
  color: $white;
  background: $yellow-orange;
  border-radius: 2px;
  max-width: 118px;
  width: 100%;
  font-family: BRUTAL_TYPE_MEDIUM, sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 42px;
}

@mixin titleBtn() {
  background: #333333;
  border-radius: 2px;
  font-size: 14px;
  min-width: 92px;
  display: flex;
  color: $white;
  font-family: BRUTAL_TYPE, sans-serif;
  align-items: center;
  justify-content: center;
  border: none;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

@mixin rightWindowSeries($display) {
  .right__window__header {
    display: $display;
    margin-bottom: 13px;

    @media (max-width: 1440px) {
      margin-bottom: 15px;
    }

    @media (max-width: 767px) {
      display: flex;
      margin-bottom: 15px;
      width: calc(100% + 3px);
    }

    &-all {
      width: 100%;
      text-align: end;
      color: $loch;
      margin-left: auto;
      font-size: 14px;
      line-height: 24px;

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;

          @media (max-width: 1024px) {
            text-decoration: none;
          }
        }
      }
    }
  }
}

@mixin mainBtn() {
  background: $yellow-orange;
  border-radius: 2px;
  border: none;
  font-size: 14px;
  line-height: 18px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.02em;
  display: flex;
  width: 100%;
  padding: 7px 0;
  color: $white;
  font-family: BRUTAL_TYPE, sans-serif;

  &:hover {
    background-color: $buttercup;
  }

  @media (max-width: 1440px) {
    line-height: 11px;
    padding: 10px 0;
  }

  @media (max-width: 1024px) {
    &:hover {
      background-color: $yellow-orange;
    }
  }
}

@mixin rightWindowTemplate() {
  padding: 20px 16px 20px 21px;
  width: 100%;
  background: $white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;

  @media (max-width: 1440px) {
    margin-bottom: 20px;
  }
}

@mixin seriesList($maxWidth, $padding, $margin1024, $padding1439) {
  .series__list {
    width: 100%;
    padding-top: 10px;
    border-left: 1px solid $gray;
    position: relative;
    margin: 16px 0 22px 0;

    @media (max-width: 1440px) {
      margin: 16px 0 27px 0;
    }

    @media (max-width: 1439px) {
      margin: $margin1024;
    }

    @media (max-width: 1023px) {
      margin: 15px 0 31px 1px;
    }

    @media (max-width: 767px) {
      margin: 14px 0 37px 0;
      padding-top: 11px;
    }

    &::before {
      height: 9px;
      width: 1px;
      position: absolute;
      top: -2px;
      left: -1px;
      content: '';
      display: block;
      transform: matrix(1, 0, 0, -1, 0, 0);
      background: linear-gradient(180.15deg, rgba(255, 255, 255, 0) 0.23%, $white 126.37%), linear-gradient(180.15deg, rgba(255, 255, 255, 0) 0.23%, $white 126.37%);
    }

    &::after {
      height: 52px;
      width: 1px;
      position: absolute;
      bottom: -10px;
      left: -1px;
      content: '';
      display: block;
      background: linear-gradient(180.86deg, rgba(255, 255, 255, 0) 0.23%, $white 74.8%);
    }

    &-item {
      max-width: $maxWidth;
      width: 100%;
      font-size: 15px;
      padding: $padding;
      line-height: 21px;
      position: relative;

      &:hover {
        a {
          color: $yellow-orange;

          @media (max-width: 1024px) {
            color: #333;
          }
        }

        &::after {
          background: $yellow-orange;;

          @media (max-width: 1024px) {
            background: $gray;
          }
        }
      }

      &:after {
        display: block;
        content: '';
        height: 10px;
        left: -5.3px;
        top: 6px;
        position: absolute;
        width: 10px;
        background: $gray;
        border-radius: 50%;
      }

      a {
        color: #333;
        text-decoration: none;
      }

      @media (max-width: 1439px) {
        padding: $padding1439;
      }
    }

    &-item:last-child {
      padding-bottom: 0;
    }
  }
}

@mixin cardTitleText() {
  .card__title {
    font-size: 24px;
    height: 83px;
    line-height: 30px;
    font-family: BRUTAL_TYPE_BOLD, sans-serif;
    letter-spacing: -0.029em;
    text-transform: uppercase;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    max-width: 558px;
    width: 100%;
    margin-bottom: 20px;

    @media (max-width: 1439px) {
      max-width: 558px;
    }

    @media (max-width: 1023px) {
      max-width: 558px;
    }

    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  .card__text {
    font-size: 18px;
    line-height: 24px;
    max-width: 720px;

    @media (max-width: 1439px) {
      display: block;
    }

    @media (max-width: 1023px) {
      display: none;
    }
  }
}
