&__content_right-side {
  max-width: 251px;
  width: 100%;

  & .right-side-article {
    padding: 21px 16px 22px 19px;
    width: 100%;
    background: $white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;

    @include mediaExtraScreenMax {
      margin-bottom: 20px;
    }

    @include vector(8px, 0);
    @include rightWindowSeries(flex);

    &__series {
      @include mediaExtraScreenMax {
        padding: 20px 17px 20px 19px;
      }

      @include mediaTabletsLaptopsMax {
        padding: 19px 17px 19px 19px;
      }

      & .series-title {
        font-size: 20px;
        font-family: BRUTAL_TYPE_BOLD, sans-serif;
        line-height: 24px;
        color: $mine-shaft;
      }

      @include seriesList(100%, 0 0 23px 15px, 16px 0 28px 0, 0 0 23px 13px);

      .series__list {
        margin: 16px 0 26px 0;
      }

      @include mediaExtraScreenMax {
        .series__list {
          &-item {
            padding: 0 0 23px 15px;
          }
        }
      }

      .series-footer {
        display: flex;
        justify-content: center;
      }
    }

    &__tests {
      padding: 18px 18px 24px 19px;
      margin-bottom: 16px;

      .article-series-header {
        margin-bottom: 17px;

        @include mediaExtraScreenMax {
          margin-bottom: 20px;
        }
      }

      @include mediaExtraScreenMax {
        padding: 19px 17px 22px 19px;
        margin-bottom: 20px;
      }

      @include mediaTabletsLaptopsMax {
        padding: 18px 17px 25px 19px;
      }

      .tests-body {
        background: url("./../assets/htmlcss.png");
        min-height: 238px;
        padding: 61px 18px 0 20px;
        position: relative;
        margin-bottom: 19px;

        &__text {
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 25px;
          font-family: BRUTAL_TYPE, sans-serif;
          letter-spacing: -0.02em;
          max-width: 177px;
          width: 100%;
        }

        & .tests-footer {
          position: absolute;
          bottom: 20px;
          width: 100%;

          @include mediaExtraScreenMax {
            bottom: 21px;
          }

          @include mediaTabletsLaptopsMax {
            bottom: 22px;
          }
        }

        @include mediaExtraScreenMax {
          padding: 58px 18px 0 20px;
          margin-bottom: 20px;
        }

        @include mediaTabletsLaptopsMax {
          padding: 57px 18px 0 20px;
        }
      }
    }

    &__html {
      padding: 25px 19px 20px 19px;
      margin-bottom: 17px;

      @include mediaExtraScreenMax {
        margin-bottom: 20px;
      }

      .article-series-header {
        margin-bottom: 23px;

        @include mediaExtraScreenMax {
          margin-bottom: 24px;
        }
      }

      @include mediaExtraScreenMax {
        padding: 21px 17px 20px 19px;
      }

      @include mediaTabletsLaptopsMax {
        padding: 17px 17px 18px 20px;

        .article-series-header {
          margin-bottom: 26px;
        }
      }

      & .html-body {
        background: url("./../assets/htmlFive.png");
        min-height: 146px;
        margin-bottom: 18px;
        position: relative;

        &__svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 32px;
          height: 32px;
        }
      }

      & .html-text {
        font-weight: bold;
        font-size: 15px;
        line-height: 21px;
        color: $mine-shaft;
      }
    }

    &__recently {
      position: relative;
      padding: 22px 18px 22px 20px;

      @include mediaExtraScreenMax {
        padding: 18px 18px 22px 20px;
      }

      @include mediaTabletsLaptopsMax {
        padding: 19px 16px 23px 20px;
      }

      .article-series-header {
        margin-bottom: 19px;

        @include mediaExtraScreenMax {
          margin-bottom: 20px;
        }
      }

      color: $mine-shaft;

      & .recently-date {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 8px;
        line-height: 21px;

        @include mediaTabletsLaptopsMax {
          margin-bottom: 5px;
        }
      }

      & .recently-time {
        font-size: 14px;
        line-height: 24px;
        color: $cutty;
        margin-bottom: 4px;

        @include mediaTabletsLaptopsMax {
          margin-bottom: 7px;
        }
      }

      & .recently-text {
        font-size: 15px;
        line-height: 21px;
        cursor: pointer;

        &:hover {
          color: $yellow-orange;
        }
      }
    }

    @include mediaTabletsLaptopsMin {
      display: none;
    }
  }
}
