&__content-right__side {
  max-width: 251px;
  width: 100%;

  & .right__side-article {
    @include rightWindowTemplate();
    padding: 21px 16px 22px 19px;
    @include vector(8px, 0);
    @include rightWindowSeries(flex);

    &__series {
      @media (max-width: 1440px) {
        padding: 20px 17px 20px 19px;
      }

      @media (max-width: 1024px) {
        padding: 19px 17px 19px 19px;
      }

      & .series__title {
        font-size: 20px;
        font-family: BRUTAL_TYPE_BOLD, sans-serif;
        line-height: 24px;
        color: $mine-shaft;
      }

      @include seriesList(100%, 0 0 23px 15px, 16px 0 28px 0, 0 0 23px 13px);

      .series__list {
        margin: 16px 0 26px 0;

        @media (max-width: 1024px) and (min-width: 770px) {
          margin: 16px 0 28px 0;
        }
      }

      @media (max-width: 1440px) {
        .series__list {
          &-item {
            padding: 0 0 23px 15px;
          }
        }
      }

      .series__footer {
        display: flex;
        justify-content: center;
      }
    }

    &__tests {
      padding: 18px 18px 24px 19px;
      margin-bottom: 16px;

      .right__window__header {
        margin-bottom: 17px;

        @media (max-width: 1440px) {
          margin-bottom: 20px;
        }
      }

      @media (max-width: 1440px) {
        padding: 19px 17px 22px 19px;
        margin-bottom: 20px;
      }

      @media (max-width: 1439px) {
        padding: 18px 17px 25px 19px;
      }

      .tests__body {
        background: url("./../assets/htmlcss.png");
        min-height: 238px;
        padding: 61px 18px 0 20px;
        position: relative;
        margin-bottom: 19px;

        &-text {
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 25px;
          font-family: BRUTAL_TYPE, sans-serif;
          letter-spacing: -0.02em;
          max-width: 177px;
          width: 100%;
        }

        & .footer {
          position: absolute;
          bottom: 20px;
          width: 100%;

          @media (max-width: 1440px) {
            bottom: 21px;
          }

          @media (max-width: 1439px) {
            bottom: 22px;
          }
        }

        @media (max-width: 1440px) {
          padding: 58px 18px 0 20px;
          margin-bottom: 20px;
        }

        @media (max-width: 1439px) {
          padding: 57px 18px 0 20px;
        }

        @media (max-width: 1024px) and (min-width: 770px) {
          padding: 59px 18px 0 20px;

          & .footer {
            bottom: 21px;
          }
        }
      }
    }

    &__html {
      padding: 25px 19px 20px 19px;
      margin-bottom: 17px;

      @media (max-width: 1440px) {
        margin-bottom: 20px;
      }

      .right__window__header {
        margin-bottom: 23px;

        @media (max-width: 1440px) {
          margin-bottom: 24px;
        }
      }

      @media (max-width: 1440px) {
        padding: 21px 17px 20px 19px;
      }

      @media (max-width: 1439px) {
        padding: 17px 17px 18px 20px;

        .right__window__header {
          margin-bottom: 26px;
        }
      }

      & .html__body {
        background: url("./../assets/htmlFive.png");
        min-height: 146px;
        margin-bottom: 18px;
        position: relative;

        &__svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 32px;
          height: 32px;
        }

        @media (max-width: 1440px) and (min-width: 1439px) {
          margin-bottom: 16px;
        }
      }

      & .html__text {
        font-weight: bold;
        font-size: 15px;
        line-height: 21px;
        color: $mine-shaft;
      }
    }

    &__recently {
      position: relative;
      padding: 22px 18px 22px 20px;

      @media (max-width: 1440px) and (min-width: 1439px) {
        padding: 20px 17px 20px 20px;
      }

      @media (max-width: 1024px) {
        padding: 19px 16px 23px 20px;
      }

      .right__window__header {
        margin-bottom: 19px;

        @media (max-width: 1440px) {
          margin-bottom: 20px;
        }
      }

      color: $mine-shaft;

      & .recently__date {
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 8px;
        line-height: 21px;

        @media (max-width: 1024px) {
          margin-bottom: 5px;
        }
      }

      & .recently__time {
        font-size: 14px;
        line-height: 24px;
        color: $cutty;
        margin-bottom: 4px;

        @media (max-width: 1440px) and (min-width: 1439px) {
          margin-bottom: 4px;
        }

        @media (max-width: 1439px) {
          margin-bottom: 7px;
        }
      }

      & .recently__text {
        font-size: 15px;
        line-height: 21px;
      }
    }

    @media (max-width: 1023px) {
      display: none;
    }
  }
}
