$white: #fff;
$black: #000;
$alto: #cfcfcf;
$mine-shaft: #333;
$cutty: #516E77;
$sea: #F7AB32;
$yellow-orange: #FAAF3F;
$gray: #828282;
$buttercup: #F49F21;
$loch: #0776D2;
$concrete: #f2f2f2;
$media-mobile: 320px;
$media-tablets-min: 767px;
$media-tablets-laptops-max: 1200px;
$media-tablets-laptops-min: 1023px;
$media-extra-screen-max: 1440px;



