@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  height: 100%;
  width: 100%;
}

a:active, a:focus {
  outline: none;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: none;
}

textarea {
  resize: none;
}

textarea {
  resize: vertical;
}

textarea {
  resize: horizontal;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body.no-scroll {
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*Сброс стилей */
html {
  font-size: 55px;
  height: 100%;
  width: 100%;
}

@font-face {
  font-weight: 400;
  font-family: "PT Sans Caption";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PTSansCaptionRegular.woff2") format("woff2"), url("../fonts/PTSansCaptionRegular.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "PT Sans Caption";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PTSansCaptionBold.woff2") format("woff2"), url("../fonts/PTSansCaptionBold.woff") format("woff");
}
@font-face {
  font-family: PT_BOLD;
  src: url("../fonts/bold.ttf");
}
@font-face {
  font-family: PT_REGULAR;
  src: url("../fonts/PTSans-Regular.ttf");
}
@font-face {
  font-family: PT_SANS;
  src: url("../fonts/PTSans.ttf");
}
@font-face {
  font-family: PT_SANS_CAPTION;
  src: url("../fonts/pt_sans_caption.ttf");
}
@font-face {
  font-family: PT_SANS_BOLDER;
  src: url("../fonts/PT_SANS_BOLDER.ttf");
}
@font-face {
  font-family: BRUTAL_TYPE;
  src: url("../fonts/BrutalRegular.ttf");
}
@font-face {
  font-family: BRUTAL_TYPE_BOLD;
  src: url("../fonts/BrutalType-Bold.ttf");
}
@font-face {
  font-family: BRUTAL_TYPE_MEDIUM;
  src: url("../fonts/BrutalType-Medium.ttf");
}
body {
  margin: 0;
  width: 100%;
  color: #fff;
  font-family: PT_SANS, sans-serif;
  background: #f2f2f2;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1023px) {
  .container {
    max-width: 100%;
  }
}

strong {
  font-family: PT_SANS_BOLDER, sans-serif;
}

button {
  cursor: pointer;
}

.break__1024 {
  display: none;
}
@media (max-width: 1200px) {
  .break__1024 {
    display: block;
  }
}

.main-button {
  background: #FAAF3F;
  border-radius: 2px;
  border: none;
  font-size: 14px;
  line-height: 18px;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.02em;
  display: flex;
  width: 100%;
  padding: 7px 0;
  color: #fff;
  font-family: BRUTAL_TYPE, sans-serif;
}
.main-button:hover {
  background-color: #F49F21;
}
@media (max-width: 1440px) {
  .main-button {
    line-height: 11px;
    padding: 10px 0;
  }
}
@media (max-width: 1200px) {
  .main-button:hover {
    background-color: #FAAF3F;
  }
}

.title__btn {
  background: #333;
  border-radius: 2px;
  font-size: 14px;
  min-width: 92px;
  display: flex;
  color: #fff;
  font-family: BRUTAL_TYPE, sans-serif;
  align-items: center;
  justify-content: center;
  border: none;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hardware {
  background: linear-gradient(360deg, #223036 0%, #223036 100%);
  height: 173px;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 44px 68px 40px 47px;
}
.hardware__search {
  display: none;
}
.hardware__burger {
  display: none;
}
@media (max-width: 1023px) {
  .hardware__burger {
    display: block;
    top: 16px;
    left: 16px;
    fill: #fff;
    position: absolute;
    width: 21px;
    height: 19px;
  }
}
.hardware__logo-mobile {
  display: none;
}
@media (max-width: 767px) {
  .hardware__logo-mobile {
    display: block;
    width: 35px;
    height: 34px;
    position: absolute;
    left: 54px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.hardware__logo {
  height: 80px;
  width: 370px;
  position: relative;
  margin: 3px 0 4px 0;
}
.hardware__logo_title {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  max-width: 326px;
  height: 40px;
  width: 100%;
}
@media (max-width: 1440px) {
  .hardware__logo {
    margin: 5px 0 4px 0;
  }
}
@media (max-width: 1200px) {
  .hardware__logo {
    margin: 12px 23px 4px 0;
  }
}
@media (max-width: 1023px) {
  .hardware__logo {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .hardware__logo {
    display: none;
  }
  .hardware__logo .vector {
    display: none;
  }
}
.hardware .vector {
  width: 22px;
  height: 20px;
  position: absolute;
  opacity: 1;
  transition: opacity 0.2s linear;
}
.hardware .vector:nth-child(1) {
  left: 0px;
  top: 0px;
}
.hardware .vector:nth-child(2) {
  left: 0px;
  bottom: 0px;
  transform: rotate(-90deg);
}
.hardware .vector:nth-child(3) {
  right: 0px;
  top: 0px;
  transform: rotate(90deg);
}
.hardware .vector:nth-child(4) {
  right: 0px;
  bottom: 0px;
  transform: rotate(-180deg);
}
.hardware:hover .vector {
  opacity: 1;
}
@media (max-width: 1200px) {
  .hardware:hover .vector {
    opacity: 0;
  }
}
@media (max-width: 1023px) {
  .hardware .vector:nth-child(1) {
    left: 0;
    top: 2px;
  }
  .hardware .vector:nth-child(2) {
    left: 0;
    bottom: -2px;
    transform: rotate(-90deg);
  }
  .hardware .vector:nth-child(3) {
    right: 0;
    top: 2px;
    transform: rotate(90deg);
  }
  .hardware .vector:nth-child(4) {
    right: 0;
    bottom: -2px;
    transform: rotate(-180deg);
  }
}
.hardware .vector:hover .vector {
  opacity: 1;
}
.hardware__text {
  max-width: 658px;
  font-size: 14px;
  line-height: 22px;
  font-family: "PT Sans Caption", Arial, sans-serif;
}
@media (max-width: 1200px) {
  .hardware__text {
    max-width: 550px;
  }
}
@media (max-width: 1023px) {
  .hardware__text {
    display: none;
  }
}
.hardware__enter {
  font-weight: bold;
  font-size: 15px;
  line-height: 10px;
  top: 13px;
  right: 21px;
  position: absolute;
}
@media (max-width: 1200px) {
  .hardware__enter {
    top: 16px;
    right: 15px;
  }
}
@media (max-width: 767px) {
  .hardware__enter {
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 1200px) {
  .hardware {
    padding: 37px 49px 40px 31px;
  }
}
@media (max-width: 1023px) {
  .hardware {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .hardware {
    height: 48px;
  }
  .hardware__search {
    display: block;
    fill: #fff;
    width: 14px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    position: absolute;
  }
}

.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  height: 48px;
  position: absolute;
  top: 174px;
  width: 100%;
  display: flex;
  background-color: #fff;
  align-items: center;
}
.header__burger {
  height: 15px;
  width: 16px;
  fill: #333;
  margin: 0 23px 0 47px;
}
@media (max-width: 1440px) {
  .header__burger {
    margin: 0 26px 0 47px;
  }
}
@media (max-width: 1200px) {
  .header__burger {
    margin: 0 14px 0 38px;
  }
}
@media (max-width: 1023px) {
  .header__burger {
    display: none;
  }
}
.header__navigation {
  max-width: 476px;
  width: 100%;
  display: flex;
}
.header__navigation_item {
  font-size: 16px;
  line-height: 22px;
  color: #000;
  font-family: BRUTAL_TYPE, sans-serif;
  margin-right: 27px;
  cursor: pointer;
  letter-spacing: -0.02em;
  padding: 4px 13px 4px 14px;
}
.header__navigation_item-search {
  display: none;
}
@media (max-width: 1023px) {
  .header__navigation_item-search {
    display: block;
    margin: 0 0 0 10px;
  }
}
@media (max-width: 767px) {
  .header__navigation_item-search {
    display: none;
  }
}
.header__navigation_item:hover {
  background: #FAAF3F;
  border-radius: 2px;
  color: #fff;
}
@media (max-width: 1200px) {
  .header__navigation_item:hover {
    background-color: #fff;
    color: #000;
  }
}
@media (max-width: 1023px) {
  .header__navigation_item {
    margin-right: 56px;
  }
}
@media (max-width: 767px) {
  .header__navigation_item {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 320px) {
  .header__navigation_item {
    font-size: 14px;
  }
}
@media (max-width: 1023px) {
  .header__navigation {
    max-width: 100%;
    justify-content: space-between;
    margin-left: 7px;
  }
}
@media (max-width: 767px) {
  .header__navigation {
    width: 100%;
    overflow-x: auto;
    max-width: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 320px) {
  .header__navigation {
    max-width: 307px;
    padding: 3px 2px 0 0;
    margin-left: 7px;
  }
}
.header__search {
  height: 15px;
  width: 14px;
  fill: #333;
  margin: 0 12px 0 auto;
}
@media (max-width: 1200px) {
  .header__search {
    margin: 0 22px 0 auto;
  }
}
@media (max-width: 1023px) {
  .header__search {
    display: none;
  }
}
@media (max-width: 767px) {
  .header {
    top: 48px;
  }
}

.body {
  padding: 37px 68px 30px 72px;
  background-color: #fff;
  margin-top: 48px;
}
@media (max-width: 1200px) {
  .body {
    padding: 37px 11px 30px 12px;
    margin-top: 40px;
  }
}
@media (max-width: 1023px) {
  .body {
    padding: 37px 0 30px 0;
    margin-top: 46px;
  }
}
@media (max-width: 767px) {
  .body {
    margin-top: 33px;
  }
}
.body__content {
  display: flex;
}
.body__title {
  font-size: 28px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #000;
  transform: translate(-2px);
  font-family: PT_SANS_CAPTION, sans-serif;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .body__title {
    margin-bottom: 45px;
  }
}
@media (max-width: 1023px) {
  .body__title {
    margin-bottom: 42px;
    transform: translate(14px);
    width: calc(100% - 14px);
  }
}
@media (max-width: 767px) {
  .body__title {
    margin-bottom: 22px;
    font-size: 20px;
    transform: translate(12px);
  }
}
.body .arrows {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.body .arrows .arrow {
  height: 13px;
  width: 13px;
  cursor: pointer;
  border-left: 2px solid #cfcfcf;
  border-bottom: 2px solid #cfcfcf;
}
.body .arrows .arrow__left {
  margin-right: 14px;
  transform: rotate(45deg);
}
.body .arrows .arrow__right {
  margin-right: 1px;
  transform: rotate(-135deg);
}
@media (max-width: 1200px) {
  .body .arrows {
    display: none;
  }
}
.body .statistics {
  display: flex;
  justify-content: space-between;
  max-width: 169px;
  margin-top: 10px;
  width: 100%;
}
.body .statistics__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .statistics__item-svg {
  width: 16px;
  cursor: pointer;
  height: 14px;
  margin-right: 5px;
}
.body .statistics__item-text {
  font-size: 10px;
  font-family: "PT Sans Caption", Arial, sans-serif;
  line-height: 16px;
}
@media (max-width: 1200px) {
  .body .statistics {
    margin-top: 0;
  }
}
@media (max-width: 1023px) {
  .body .statistics {
    margin-top: 9px;
  }
}
@media (max-width: 767px) {
  .body .statistics {
    margin-top: 12px;
  }
}
.body__content_left-side {
  max-width: 789px;
  width: 100%;
  margin-right: 20px;
}
.body__content_left-side .articles-today {
  display: flex;
  flex-wrap: wrap;
}
.body__content_left-side .articles-today__title {
  font-size: 24px;
  height: 83px;
  line-height: 30px;
  font-family: BRUTAL_TYPE_BOLD, sans-serif;
  letter-spacing: -0.029em;
  text-transform: uppercase;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
  max-width: 558px;
  width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-today__title {
    max-width: 558px;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .articles-today__title {
    font-size: 20px;
    line-height: 28px;
  }
}
.body__content_left-side .articles-today__text {
  font-size: 18px;
  line-height: 24px;
  max-width: 720px;
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-today__text {
    display: none;
  }
}
.body__content_left-side .articles-today__button {
  border: none;
  height: 24px;
  color: #fff;
  background: #FAAF3F;
  border-radius: 2px;
  max-width: 118px;
  width: 100%;
  font-family: BRUTAL_TYPE_MEDIUM, sans-serif;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 42px;
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-today__button {
    margin-bottom: 26px;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .articles-today__button {
    margin-bottom: 24px;
  }
}
.body__content_left-side .articles-today__item {
  position: relative;
  font-size: 10px;
}
.body__content_left-side .articles-today__item .vector {
  width: 22px;
  height: 20px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.body__content_left-side .articles-today__item .vector:nth-child(1) {
  left: 8px;
  top: 8px;
}
.body__content_left-side .articles-today__item .vector:nth-child(2) {
  left: 8px;
  bottom: 8px;
  transform: rotate(-90deg);
}
.body__content_left-side .articles-today__item .vector:nth-child(3) {
  right: 8px;
  top: 8px;
  transform: rotate(90deg);
}
.body__content_left-side .articles-today__item .vector:nth-child(4) {
  right: 8px;
  bottom: 8px;
  transform: rotate(-180deg);
}
.body__content_left-side .articles-today__item:hover .vector {
  opacity: 1;
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-today__item:hover .vector {
    opacity: 0;
  }
}
.body__content_left-side .articles-today__item_footer {
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 17px;
  display: block;
}
.body__content_left-side .articles-today__item_footer-info {
  width: 100%;
  max-width: 294px;
}
.body__content_left-side .articles-today__item_footer-author {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  max-width: 294px;
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-today__item_footer-author {
    margin-bottom: 10px;
  }
}
@media (max-width: 320px) {
  .body__content_left-side .articles-today__item_footer-author {
    margin-bottom: 13px;
  }
}
.body__content_left-side .articles-today__item_footer-time {
  font-weight: normal;
  font-size: 10px;
}
@media (max-width: 1440px) {
  .body__content_left-side .articles-today__item_footer {
    bottom: 30px;
    left: 18px;
  }
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-today__item_footer {
    bottom: 14px;
    left: 31px;
    width: calc(100% - 31px);
  }
}
@media (max-width: 767px) {
  .body__content_left-side .articles-today__item_footer {
    bottom: 24px;
    left: 13px;
  }
}
.body__content_left-side .articles-today__item-1 {
  height: 492px;
  width: 100%;
  margin-bottom: 25px;
  padding: 150px 20px 30px 20px;
  background: center/cover url("./../assets/notepad.png");
  background-size: cover;
}
.body__content_left-side .articles-today__item-1 .articles-today__item_footer {
  display: flex;
  width: calc(100% - 40px);
  position: absolute;
  bottom: 30px;
  justify-content: space-between;
}
.body__content_left-side .articles-today__item-1 .articles-today__item_footer-info {
  width: 100%;
  max-width: 294px;
}
.body__content_left-side .articles-today__item-1 .articles-today__item_footer-author {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  max-width: 294px;
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-today__item-1 .articles-today__item_footer-author {
    margin-bottom: 0px;
  }
}
@media (max-width: 320px) {
  .body__content_left-side .articles-today__item-1 .articles-today__item_footer-author {
    margin-bottom: 13px;
  }
}
.body__content_left-side .articles-today__item-1 .articles-today__item_footer-time {
  font-weight: normal;
  font-size: 10px;
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-today__item-1 .articles-today__item_footer {
    bottom: 15px;
    left: 31px;
    display: block;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .articles-today__item-1 .articles-today__item_footer {
    bottom: 24px;
    left: 14px;
  }
}
.body__content_left-side .articles-today__item-1 .statistics {
  margin-top: 4px;
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-today__item-1 .statistics {
    margin-top: 9px;
  }
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-today__item-1 {
    background: center/cover url("./../assets/notepad1024.png");
  }
  .body__content_left-side .articles-today__item-1 .articles-today__title {
    margin-bottom: 22px;
  }
}
@media (max-width: 1200px) and (max-width: 320px) {
  .body__content_left-side .articles-today__item-1 .articles-today__title {
    letter-spacing: -0.025em;
  }
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-today__item-1 {
    height: 386px;
    padding: 71px 20px 30px 20px;
    background: center/cover url("./../assets/notepad768.png");
    margin-bottom: 14px;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .articles-today__item-1 {
    padding: 115px 20px 30px 14px;
    background: center/cover url("./../assets/notepad320.png") no-repeat;
    background-size: cover;
  }
}
.body__content_left-side .articles-today__item-2 {
  position: relative;
  max-width: 517px;
  width: 100%;
  padding: 85px 26px 30px 20px;
  height: 492px;
  background: center/cover url("./../assets/work.png");
  background-size: cover;
}
.body__content_left-side .articles-today__item-2 .articles-today__title {
  margin-bottom: 40px;
  font-size: 24px;
  letter-spacing: -0.025em;
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-today__item-2 .articles-today__title {
    max-width: 100%;
  }
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-today__item-2 .articles-today__title {
    max-width: 520px;
  }
}
.body__content_left-side .articles-today__item-2 .articles-today__text {
  max-width: 430px;
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-today__item-2 .articles-today__text {
    display: none;
  }
}
.body__content_left-side .articles-today__item-2:hover .vector {
  opacity: 1;
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-today__item-2:hover .vector {
    opacity: 0;
  }
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-today__item-2 {
    max-width: 354px;
    background: center/cover url("./../assets/work1024.png");
  }
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-today__item-2 {
    max-width: 100%;
    padding: 71px 26px 30px 20px;
    background: center/cover url("./../assets/work768.png");
    margin-bottom: 15px;
    height: 386px;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .articles-today__item-2 {
    padding: 115px 0 30px 13px;
    background: center/cover url("./../assets/work320.png") no-repeat;
    background-size: cover;
  }
  .body__content_left-side .articles-today__item-2 .articles-today__button {
    max-width: 105px;
  }
  .body__content_left-side .articles-today__item-2 .articles-today__title {
    font-size: 19.3px;
    letter-spacing: normal;
  }
}
.body__content_left-side .articles-today__item-3 {
  position: relative;
  height: 492px;
  margin-left: auto;
  margin-bottom: 28px;
  padding: 85px 20px 30px 20px;
  max-width: 247px;
  width: 100%;
  background: center/cover url("./../assets/claster.png");
}
.body__content_left-side .articles-today__item-3 .articles-today__title {
  margin-bottom: 20px;
  font-size: 24px;
  letter-spacing: -0.03em;
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-today__item-3 .articles-today__title {
    max-width: 217px;
  }
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-today__item-3 .articles-today__title {
    max-width: 520px;
  }
}
.body__content_left-side .articles-today__item-3:hover .vector {
  opacity: 1;
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-today__item-3:hover .vector {
    opacity: 0;
  }
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-today__item-3 {
    max-width: 354px;
    margin-bottom: 26px;
    background: center/cover url("./../assets/claster1024.png");
  }
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-today__item-3 {
    max-width: 100%;
    height: 386px;
    padding: 71px 26px 30px 20px;
    background: center/cover url("./../assets/claster768.png");
  }
  .body__content_left-side .articles-today__item-3 .articles-today__title {
    font-size: 24px;
    letter-spacing: -0.025em;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .articles-today__item-3 {
    padding: 115px 20px 30px 13px;
    margin-bottom: 29px;
    background: center/cover url("./../assets/claster320.png") no-repeat;
    background-size: cover;
  }
  .body__content_left-side .articles-today__item-3 .articles-today__button {
    max-width: 105px;
  }
  .body__content_left-side .articles-today__item-3 .articles-today__title {
    font-size: 19.3px;
    letter-spacing: normal;
  }
}
.body__content_left-side .articles-today__final {
  width: 100%;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 26px;
  transform: translateX(-2px);
}
.body__content_left-side .articles-today__final_text {
  color: #333;
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-today__final {
    margin-left: -1px;
    margin-bottom: 25px;
  }
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-today__final {
    padding: 1px 14px 0 18px;
    margin-bottom: 29px;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .articles-today__final {
    padding: 0 14px 0 17px;
    margin: 0 0 29px 2px;
  }
}
.body__content_left-side .articles-best__slider {
  margin-bottom: 30px;
  padding-right: 3px;
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-best__slider {
    margin-bottom: 27px;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .articles-best__slider {
    margin-bottom: 21px;
  }
}
.body__content_left-side .articles-best__nav, .body__content_left-side .articles-best__nav-mobile {
  color: #333;
  font-family: PT_SANS_BOLDER, sans-serif;
  flex-basis: 80%;
  display: flex;
  align-items: center;
}
.body__content_left-side .articles-best__nav_item, .body__content_left-side .articles-best__nav-mobile_item {
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
  line-height: 24px;
  margin-left: 47px;
}
.body__content_left-side .articles-best__nav_item::after, .body__content_left-side .articles-best__nav-mobile_item::after {
  opacity: 0;
  background: #F7AB32;
  height: 2px;
  width: 100%;
  content: "";
  display: block;
  margin-top: 5px;
  transition: opacity 0.2s linear;
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-best__nav_item::after, .body__content_left-side .articles-best__nav-mobile_item::after {
    padding-top: 4px;
    margin-top: 7px;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .articles-best__nav_item::after, .body__content_left-side .articles-best__nav-mobile_item::after {
    margin-top: 2px;
    padding-top: 1px;
  }
}
.body__content_left-side .articles-best__nav_item:first-child::after, .body__content_left-side .articles-best__nav-mobile_item:first-child::after {
  opacity: 1;
}
.body__content_left-side .articles-best__nav_item:nth-child(2), .body__content_left-side .articles-best__nav-mobile_item:nth-child(2) {
  margin-left: 54px;
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-best__nav_item, .body__content_left-side .articles-best__nav-mobile_item {
    margin-left: 47px;
  }
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-best__nav_item, .body__content_left-side .articles-best__nav-mobile_item {
    margin-left: 49px;
  }
}
.body__content_left-side .articles-best__nav_item:first-child, .body__content_left-side .articles-best__nav-mobile_item:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .body__content_left-side .articles-best__nav, .body__content_left-side .articles-best__nav-mobile {
    flex-basis: 100%;
  }
  .body__content_left-side .articles-best__nav_item:not(:first-child), .body__content_left-side .articles-best__nav-mobile_item:not(:first-child) {
    margin-left: 31px;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .articles-best__nav {
    display: none;
  }
}
.body__content_left-side .articles-best__nav-mobile {
  display: none;
}
@media (max-width: 767px) {
  .body__content_left-side .articles-best__nav-mobile {
    display: flex;
  }
}
.body__content_left-side .articles-best__list {
  display: flex;
  margin-bottom: 35px;
  max-width: 800px;
  overflow: hidden;
}
.body__content_left-side .articles-best__list-carousel {
  display: grid;
  grid-gap: 22px;
  grid-template-columns: repeat(3, 1fr);
  font-family: BRUTAL_TYPE_BOLD, sans-serif;
}
.body__content_left-side .articles-best__list-carousel_item {
  padding: 14px 20px 20px 19px;
  height: 177px;
  position: relative;
  max-width: 250px;
  width: 100%;
  background: url("./../assets/covid.png");
}
.body__content_left-side .articles-best__list-carousel_item .vector {
  width: 22px;
  height: 20px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.body__content_left-side .articles-best__list-carousel_item .vector:nth-child(1) {
  left: 8px;
  top: 8px;
}
.body__content_left-side .articles-best__list-carousel_item .vector:nth-child(2) {
  left: 8px;
  bottom: 8px;
  transform: rotate(-90deg);
}
.body__content_left-side .articles-best__list-carousel_item .vector:nth-child(3) {
  right: 8px;
  top: 8px;
  transform: rotate(90deg);
}
.body__content_left-side .articles-best__list-carousel_item .vector:nth-child(4) {
  right: 8px;
  bottom: 8px;
  transform: rotate(-180deg);
}
.body__content_left-side .articles-best__list-carousel_item:hover .vector {
  opacity: 1;
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-best__list-carousel_item:hover .vector {
    opacity: 0;
  }
}
.body__content_left-side .articles-best__list-carousel_item-biology {
  background: url("./../assets/biology.png");
}
.body__content_left-side .articles-best__list-carousel_item-team {
  background: url("./../assets/team.png");
}
.body__content_left-side .articles-best__list-carousel_item-text {
  font-weight: bold;
  font-family: BRUTAL_TYPE, sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.33);
}
@media (max-width: 767px) {
  .body__content_left-side .articles-best__list-carousel_item-text {
    letter-spacing: 0.02em;
    font-size: 14px;
  }
}
.body__content_left-side .articles-best__list-carousel_item-footer {
  position: absolute;
  bottom: 21px;
  left: 16px;
  width: 100%;
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-best__list-carousel_item-footer {
    left: 20px;
  }
}
@media (max-width: 320px) {
  .body__content_left-side .articles-best__list-carousel_item-footer {
    left: 18px;
    bottom: 19px;
  }
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-best__list-carousel_item {
    width: 250px;
    padding: 14px 20px 20px 19px;
  }
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-best__list-carousel_item {
    padding: 14px 20px 20px 21px;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .articles-best__list-carousel_item {
    padding: 15px 0 20px 19px;
  }
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-best__list-carousel {
    grid-gap: 19px;
  }
}
@media (max-width: 320px) {
  .body__content_left-side .articles-best__list-carousel {
    grid-gap: 16px;
  }
}
@media (max-width: 1200px) {
  .body__content_left-side .articles-best__list {
    max-width: 730px;
    margin-bottom: 34px;
  }
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-best__list {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .articles-best__list {
    margin-bottom: 0;
  }
}
@media (max-width: 1023px) {
  .body__content_left-side .articles-best {
    padding-left: 15px;
  }
}
.body__content_left-side .all-series__header {
  color: #000;
}
@media (max-width: 767px) {
  .body__content_left-side .all-series__header {
    display: none;
  }
}
.body__content_left-side .all-series__header-title {
  font-size: 28px;
  line-height: 22px;
  font-family: "PT Sans Caption", sans-serif;
  letter-spacing: -0.04em;
}
.body__content_left-side .all-series__content {
  margin-top: 36px;
  width: calc(100% + 10px);
}
.body__content_left-side .all-series__content-carousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 0 10px 10px;
  overflow: hidden;
  margin: -10px 0 -10px -10px;
}
.body__content_left-side .all-series__content-carousel_item {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 380px;
  margin-right: 29px;
  padding: 25px 25px 30px 18px;
}
.body__content_left-side .all-series__content-carousel_item .series-content__list {
  width: 100%;
  padding-top: 10px;
  border-left: 1px solid #828282;
  position: relative;
  margin: 16px 0 26px 0;
}
@media (max-width: 1440px) {
  .body__content_left-side .all-series__content-carousel_item .series-content__list {
    margin: 16px 0 27px 0;
  }
}
@media (max-width: 1200px) {
  .body__content_left-side .all-series__content-carousel_item .series-content__list {
    margin: 16px 0 18px 0;
  }
}
@media (max-width: 1023px) {
  .body__content_left-side .all-series__content-carousel_item .series-content__list {
    margin: 15px 0 31px 1px;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .all-series__content-carousel_item .series-content__list {
    margin: 14px 0 37px 0;
    padding-top: 11px;
  }
}
.body__content_left-side .all-series__content-carousel_item .series-content__list::before {
  height: 9px;
  width: 1px;
  position: absolute;
  top: -2px;
  left: -1px;
  content: "";
  display: block;
  transform: matrix(1, 0, 0, -1, 0, 0);
  background: linear-gradient(180.15deg, rgba(255, 255, 255, 0) 0.23%, #fff 126.37%), linear-gradient(180.15deg, rgba(255, 255, 255, 0) 0.23%, #fff 126.37%);
}
.body__content_left-side .all-series__content-carousel_item .series-content__list::after {
  height: 52px;
  width: 1px;
  position: absolute;
  bottom: -10px;
  left: -1px;
  content: "";
  display: block;
  background: linear-gradient(180.86deg, rgba(255, 255, 255, 0) 0.23%, #fff 74.8%);
}
.body__content_left-side .all-series__content-carousel_item .series-content__list_item {
  max-width: 100%;
  width: 100%;
  font-size: 15px;
  padding: 0 0 22px 17px;
  line-height: 21px;
  position: relative;
}
.body__content_left-side .all-series__content-carousel_item .series-content__list_item:hover a {
  color: #FAAF3F;
}
@media (max-width: 1200px) {
  .body__content_left-side .all-series__content-carousel_item .series-content__list_item:hover a {
    color: #333;
  }
}
.body__content_left-side .all-series__content-carousel_item .series-content__list_item:hover::after {
  background: #FAAF3F;
}
@media (max-width: 1200px) {
  .body__content_left-side .all-series__content-carousel_item .series-content__list_item:hover::after {
    background: #828282;
  }
}
.body__content_left-side .all-series__content-carousel_item .series-content__list_item:after {
  display: block;
  content: "";
  height: 10px;
  left: -5.3px;
  top: 6px;
  position: absolute;
  width: 10px;
  background: #828282;
  border-radius: 50%;
}
.body__content_left-side .all-series__content-carousel_item .series-content__list_item a {
  color: #333;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .body__content_left-side .all-series__content-carousel_item .series-content__list_item {
    padding: 0 0 23px 19px;
  }
}
.body__content_left-side .all-series__content-carousel_item .series-content__list_item:last-child {
  padding-bottom: 0;
}
.body__content_left-side .all-series__content-carousel_item .article-series-header {
  display: none;
  margin-bottom: 13px;
}
@media (max-width: 1440px) {
  .body__content_left-side .all-series__content-carousel_item .article-series-header {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .all-series__content-carousel_item .article-series-header {
    display: flex;
    margin-bottom: 15px;
    width: calc(100% + 3px);
  }
}
.body__content_left-side .all-series__content-carousel_item .article-series-header-all {
  width: 100%;
  text-align: end;
  color: #0776D2;
  margin-left: auto;
  font-size: 14px;
  line-height: 24px;
}
.body__content_left-side .all-series__content-carousel_item .article-series-header-all a {
  color: inherit;
  text-decoration: none;
}
.body__content_left-side .all-series__content-carousel_item .article-series-header-all a:hover {
  text-decoration: underline;
}
@media (max-width: 1200px) {
  .body__content_left-side .all-series__content-carousel_item .article-series-header-all a:hover {
    text-decoration: none;
  }
}
.body__content_left-side .all-series__content-carousel_item .right__window__header {
  margin-bottom: 17px;
}
@media (max-width: 1440px) {
  .body__content_left-side .all-series__content-carousel_item .right__window__header {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .all-series__content-carousel_item .right__window__header {
    margin-bottom: 15px;
  }
}
.body__content_left-side .all-series__content-carousel_item .series-content__title {
  font-family: BRUTAL_TYPE_BOLD, sans-serif;
  font-size: 20px;
  line-height: 24px;
  max-width: 250px;
  color: #333;
}
@media (max-width: 1200px) {
  .body__content_left-side .all-series__content-carousel_item .series-content__title {
    margin-bottom: 16px;
  }
}
@media (max-width: 1023px) {
  .body__content_left-side .all-series__content-carousel_item .series-content__title {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .all-series__content-carousel_item .series-content__title {
    margin-bottom: 0;
    letter-spacing: -0.1px;
  }
}
.body__content_left-side .all-series__content-carousel_item .series-content__list {
  margin: 15px 0 22px 0;
}
.body__content_left-side .all-series__content-carousel_item .series-content__list_item {
  padding: 0 0 23px 20px;
}
@media (max-width: 1440px) {
  .body__content_left-side .all-series__content-carousel_item .series-content__list_item {
    padding: 0 0 22px 18px;
  }
}
@media (max-width: 1200px) {
  .body__content_left-side .all-series__content-carousel_item .series-content__list_item {
    padding: 0 0 23px 19px;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .all-series__content-carousel_item .series-content__list_item {
    padding: 0 0 14px 14px;
    max-width: 208px;
  }
}
@media (max-width: 1440px) {
  .body__content_left-side .all-series__content-carousel_item .series-content__list {
    margin: 15px 0 25px 0;
  }
}
@media (max-width: 1200px) {
  .body__content_left-side .all-series__content-carousel_item .series-content__list {
    margin: 15px 0 22px 2px;
  }
}
@media (max-width: 1023px) {
  .body__content_left-side .all-series__content-carousel_item .series-content__list {
    margin: 15px 0 32px 0;
  }
}
.body__content_left-side .all-series__content-carousel_item-footer {
  max-width: 197px;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .body__content_left-side .all-series__content-carousel_item-footer {
    max-width: 292px;
  }
}
@media (max-width: 1440px) {
  .body__content_left-side .all-series__content-carousel_item {
    padding: 22px 25px 30px 20px;
  }
}
@media (max-width: 1200px) {
  .body__content_left-side .all-series__content-carousel_item {
    padding: 21px 17px 30px 19px;
    width: 350px;
  }
}
@media (max-width: 1023px) {
  .body__content_left-side .all-series__content-carousel_item {
    width: 325px;
    margin-right: 20px;
    padding: 19px 18px 21px 20px;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .all-series__content-carousel_item {
    padding: 18px 23px 30px 21px;
    width: 289px;
  }
}
.body__content_left-side .all-series__content-carousel_item:last-child {
  margin-right: 0;
}
@media (max-width: 576px) {
  .body__content_left-side .all-series__content-carousel {
    width: 305px;
  }
}
@media (max-width: 1440px) {
  .body__content_left-side .all-series__content {
    margin-top: 41px;
  }
}
@media (max-width: 1200px) {
  .body__content_left-side .all-series__content {
    margin-top: 42px;
  }
}
@media (max-width: 1023px) {
  .body__content_left-side .all-series__content {
    margin-top: 50px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .body__content_left-side .all-series__content {
    justify-content: center;
    margin-top: 28px;
    display: flex;
  }
}
@media (max-width: 320px) {
  .body__content_left-side .all-series__content {
    display: block;
  }
}
@media (max-width: 1023px) {
  .body__content_left-side .all-series {
    padding-left: 14px;
  }
}
@media (max-width: 1200px) {
  .body__content_left-side {
    max-width: 730px;
  }
}
@media (max-width: 1023px) {
  .body__content_left-side {
    max-width: 100%;
    margin-right: 0;
  }
}
.body__content_right-side {
  max-width: 251px;
  width: 100%;
}
.body__content_right-side .right-side-article {
  padding: 21px 16px 22px 19px;
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
@media (max-width: 1440px) {
  .body__content_right-side .right-side-article {
    margin-bottom: 20px;
  }
}
.body__content_right-side .right-side-article .vector {
  width: 22px;
  height: 20px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.body__content_right-side .right-side-article .vector:nth-child(1) {
  left: 8px;
  top: 8px;
}
.body__content_right-side .right-side-article .vector:nth-child(2) {
  left: 8px;
  bottom: 8px;
  transform: rotate(-90deg);
}
.body__content_right-side .right-side-article .vector:nth-child(3) {
  right: 8px;
  top: 8px;
  transform: rotate(90deg);
}
.body__content_right-side .right-side-article .vector:nth-child(4) {
  right: 8px;
  bottom: 8px;
  transform: rotate(-180deg);
}
.body__content_right-side .right-side-article:hover .vector {
  opacity: 1;
}
@media (max-width: 1200px) {
  .body__content_right-side .right-side-article:hover .vector {
    opacity: 0;
  }
}
.body__content_right-side .right-side-article .article-series-header {
  display: flex;
  margin-bottom: 13px;
}
@media (max-width: 1440px) {
  .body__content_right-side .right-side-article .article-series-header {
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .body__content_right-side .right-side-article .article-series-header {
    display: flex;
    margin-bottom: 15px;
    width: calc(100% + 3px);
  }
}
.body__content_right-side .right-side-article .article-series-header-all {
  width: 100%;
  text-align: end;
  color: #0776D2;
  margin-left: auto;
  font-size: 14px;
  line-height: 24px;
}
.body__content_right-side .right-side-article .article-series-header-all a {
  color: inherit;
  text-decoration: none;
}
.body__content_right-side .right-side-article .article-series-header-all a:hover {
  text-decoration: underline;
}
@media (max-width: 1200px) {
  .body__content_right-side .right-side-article .article-series-header-all a:hover {
    text-decoration: none;
  }
}
@media (max-width: 1440px) {
  .body__content_right-side .right-side-article__series {
    padding: 20px 17px 20px 19px;
  }
}
@media (max-width: 1200px) {
  .body__content_right-side .right-side-article__series {
    padding: 19px 17px 19px 19px;
  }
}
.body__content_right-side .right-side-article__series .series-title {
  font-size: 20px;
  font-family: BRUTAL_TYPE_BOLD, sans-serif;
  line-height: 24px;
  color: #333;
}
.body__content_right-side .right-side-article__series .series-content__list {
  width: 100%;
  padding-top: 10px;
  border-left: 1px solid #828282;
  position: relative;
  margin: 16px 0 26px 0;
}
@media (max-width: 1440px) {
  .body__content_right-side .right-side-article__series .series-content__list {
    margin: 16px 0 27px 0;
  }
}
@media (max-width: 1200px) {
  .body__content_right-side .right-side-article__series .series-content__list {
    margin: 16px 0 28px 0;
  }
}
@media (max-width: 1023px) {
  .body__content_right-side .right-side-article__series .series-content__list {
    margin: 15px 0 31px 1px;
  }
}
@media (max-width: 767px) {
  .body__content_right-side .right-side-article__series .series-content__list {
    margin: 14px 0 37px 0;
    padding-top: 11px;
  }
}
.body__content_right-side .right-side-article__series .series-content__list::before {
  height: 9px;
  width: 1px;
  position: absolute;
  top: -2px;
  left: -1px;
  content: "";
  display: block;
  transform: matrix(1, 0, 0, -1, 0, 0);
  background: linear-gradient(180.15deg, rgba(255, 255, 255, 0) 0.23%, #fff 126.37%), linear-gradient(180.15deg, rgba(255, 255, 255, 0) 0.23%, #fff 126.37%);
}
.body__content_right-side .right-side-article__series .series-content__list::after {
  height: 52px;
  width: 1px;
  position: absolute;
  bottom: -10px;
  left: -1px;
  content: "";
  display: block;
  background: linear-gradient(180.86deg, rgba(255, 255, 255, 0) 0.23%, #fff 74.8%);
}
.body__content_right-side .right-side-article__series .series-content__list_item {
  max-width: 100%;
  width: 100%;
  font-size: 15px;
  padding: 0 0 23px 15px;
  line-height: 21px;
  position: relative;
}
.body__content_right-side .right-side-article__series .series-content__list_item:hover a {
  color: #FAAF3F;
}
@media (max-width: 1200px) {
  .body__content_right-side .right-side-article__series .series-content__list_item:hover a {
    color: #333;
  }
}
.body__content_right-side .right-side-article__series .series-content__list_item:hover::after {
  background: #FAAF3F;
}
@media (max-width: 1200px) {
  .body__content_right-side .right-side-article__series .series-content__list_item:hover::after {
    background: #828282;
  }
}
.body__content_right-side .right-side-article__series .series-content__list_item:after {
  display: block;
  content: "";
  height: 10px;
  left: -5.3px;
  top: 6px;
  position: absolute;
  width: 10px;
  background: #828282;
  border-radius: 50%;
}
.body__content_right-side .right-side-article__series .series-content__list_item a {
  color: #333;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .body__content_right-side .right-side-article__series .series-content__list_item {
    padding: 0 0 23px 13px;
  }
}
.body__content_right-side .right-side-article__series .series-content__list_item:last-child {
  padding-bottom: 0;
}
.body__content_right-side .right-side-article__series .series__list {
  margin: 16px 0 26px 0;
}
@media (max-width: 1440px) {
  .body__content_right-side .right-side-article__series .series__list-item {
    padding: 0 0 23px 15px;
  }
}
.body__content_right-side .right-side-article__series .series-footer {
  display: flex;
  justify-content: center;
}
.body__content_right-side .right-side-article__tests {
  padding: 18px 18px 24px 19px;
  margin-bottom: 16px;
}
.body__content_right-side .right-side-article__tests .article-series-header {
  margin-bottom: 17px;
}
@media (max-width: 1440px) {
  .body__content_right-side .right-side-article__tests .article-series-header {
    margin-bottom: 20px;
  }
}
@media (max-width: 1440px) {
  .body__content_right-side .right-side-article__tests {
    padding: 19px 17px 22px 19px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  .body__content_right-side .right-side-article__tests {
    padding: 18px 17px 25px 19px;
  }
}
.body__content_right-side .right-side-article__tests .tests-body {
  background: url("./../assets/htmlcss.png");
  min-height: 238px;
  padding: 61px 18px 0 20px;
  position: relative;
  margin-bottom: 19px;
}
.body__content_right-side .right-side-article__tests .tests-body__text {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  font-family: BRUTAL_TYPE, sans-serif;
  letter-spacing: -0.02em;
  max-width: 177px;
  width: 100%;
}
.body__content_right-side .right-side-article__tests .tests-body .tests-footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
}
@media (max-width: 1440px) {
  .body__content_right-side .right-side-article__tests .tests-body .tests-footer {
    bottom: 21px;
  }
}
@media (max-width: 1200px) {
  .body__content_right-side .right-side-article__tests .tests-body .tests-footer {
    bottom: 22px;
  }
}
@media (max-width: 1440px) {
  .body__content_right-side .right-side-article__tests .tests-body {
    padding: 58px 18px 0 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  .body__content_right-side .right-side-article__tests .tests-body {
    padding: 57px 18px 0 20px;
  }
}
.body__content_right-side .right-side-article__html {
  padding: 25px 19px 20px 19px;
  margin-bottom: 17px;
}
@media (max-width: 1440px) {
  .body__content_right-side .right-side-article__html {
    margin-bottom: 20px;
  }
}
.body__content_right-side .right-side-article__html .article-series-header {
  margin-bottom: 23px;
}
@media (max-width: 1440px) {
  .body__content_right-side .right-side-article__html .article-series-header {
    margin-bottom: 24px;
  }
}
@media (max-width: 1440px) {
  .body__content_right-side .right-side-article__html {
    padding: 21px 17px 20px 19px;
  }
}
@media (max-width: 1200px) {
  .body__content_right-side .right-side-article__html {
    padding: 17px 17px 18px 20px;
  }
  .body__content_right-side .right-side-article__html .article-series-header {
    margin-bottom: 26px;
  }
}
.body__content_right-side .right-side-article__html .html-body {
  background: url("./../assets/htmlFive.png");
  min-height: 146px;
  margin-bottom: 18px;
  position: relative;
}
.body__content_right-side .right-side-article__html .html-body__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
}
.body__content_right-side .right-side-article__html .html-text {
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  color: #333;
}
.body__content_right-side .right-side-article__recently {
  position: relative;
  padding: 22px 18px 22px 20px;
  color: #333;
}
@media (max-width: 1440px) {
  .body__content_right-side .right-side-article__recently {
    padding: 18px 18px 22px 20px;
  }
}
@media (max-width: 1200px) {
  .body__content_right-side .right-side-article__recently {
    padding: 19px 16px 23px 20px;
  }
}
.body__content_right-side .right-side-article__recently .article-series-header {
  margin-bottom: 19px;
}
@media (max-width: 1440px) {
  .body__content_right-side .right-side-article__recently .article-series-header {
    margin-bottom: 20px;
  }
}
.body__content_right-side .right-side-article__recently .recently-date {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 8px;
  line-height: 21px;
}
@media (max-width: 1200px) {
  .body__content_right-side .right-side-article__recently .recently-date {
    margin-bottom: 5px;
  }
}
.body__content_right-side .right-side-article__recently .recently-time {
  font-size: 14px;
  line-height: 24px;
  color: #516E77;
  margin-bottom: 4px;
}
@media (max-width: 1200px) {
  .body__content_right-side .right-side-article__recently .recently-time {
    margin-bottom: 7px;
  }
}
.body__content_right-side .right-side-article__recently .recently-text {
  font-size: 15px;
  line-height: 21px;
  cursor: pointer;
}
.body__content_right-side .right-side-article__recently .recently-text:hover {
  color: #FAAF3F;
}
@media (max-width: 1023px) {
  .body__content_right-side .right-side-article {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
